.type {
	position:relative;
	top:-2px;
	padding: 0px 2px;
	color: #ddd;
}
.type:after {
	content: '■';
}

.scene {
	color: #ccccff;
}

.line {
	color: #ffaaee;
}

.helper_plane {
	color: #8888ee;
}

/* */

.well {
	color: #00dd00;
}

.object {
    color: #dddd00;
}

/* */

.Geometry {
	color: #88ff88;
}

.BoxGeometry {
	color: #bbeebb;
}
.TorusGeometry {
	color: #aaeeaa;	
}

/* */

.Material {
	color: #ff8888;
}

.MeshPhongMaterial {
	color: #ffaa88;
}